In [9]:
import pandas as pd

In [10]:
df1= pd.read_excel('../../data/descargables/EstudiantesCFK.xlsx')

In [11]:
type(df1)

pandas.core.frame.DataFrame

In [16]:
df1.columns.tolist()

['N registro',
 'Deseo participar en el estudio',
 'Código IE',
 'Grupo',
 'Nombre',
 'Fecha',
 'ID',
 'Número de lista',
 'Edad',
 'Sexo',
 'Sector vivienda',
 'Internet',
 'Uso del dispositivo móvil',
 'Nivel escolaridad madre',
 'Nivel escolaridad padre',
 'Ocupación madre',
 'Ocupación padre',
 '¿Con quién vives?',
 'Grado',
 '1.1. Ingeniería',
 '1.2 Matemáticas',
 '1.3 Educación',
 '1.4 Medicina',
 '1.5 Diseño gráfico',
 '1.6 Química',
 '1.7 Enfermería',
 '1.8 Desarrollo de software',
 '2.1 Soy capaz de sacar buenas notas en esta asignatura',
 '2.2 Si me va bien en esta asignatura, me ayudará en mi futura ocupación',
 '2.3 A mis padres les gustaría que eligiera un futuro profesional relacionado a esta asignatura',
 '2.4 Sé de alguien en mi familia que utiliza conocimientos relacionados a esta asignatura en su ocupación',
 'Comentarios 1-2',
 'Un algoritmo es:',
 '¿Para qué sirven los algoritmos?',
 'Un bucle es:',
 '3.1 Siento que soy capaz de explicar lo que es el pensamiento computacional',
 '3.2 Siento que puedo enumerar las sub-habilidades que componen el pensamiento computacional',
 '3.3 Siento que soy capaz de dar ejemplos para explicar las sub-habilidades del pensamiento computacional',
 '3.4 Siento que puedo explicar la forma en que las sub-habilidades del pensamiento computacional se correlacionan con la programación',
 '3.5 Siento que puedo analizar un ejercicio y determinar qué sub-habilidades de pensamiento computacional busca desarrollar',
 '3.6 Siento que puedo resolver problemas a través de programación',
 '3.7 Siento que puedo implementar algoritmos',
 '3.8 Siento que puedo crear un programa de computador',
 '3.9 Siento que puedo automatizar tareas a través de la programación',
 '3.10 Siento que puedo utilizar la computación para resolver problemas simples',
 'Comentarios P3',
 '¿Cuál de las siguientes opciones sí le permite al robot completar la misión de fotografiar cada tortuga?',
 '¿Qué mensaje deseaba enviar la líder Wayuú?',
 '¿Cuál de los siguientes códigos permite que el robot complete su misión sembrando café?',
 '¿Cuál será la foto con más vistas?',
 'Ayuda al robot verde a salir del laberinto',
 'Óscar lleva 2 loncheras a la escuela todos los días ¿Cuál de las siguientes afirmaciones es falsa?',
 '¿Cuál de las siguientes hamburguesas tiene los ingredientes A, E y F?',
 '¿Qué botella debe cambiarse de color para que el resultado final sea una botella de color blanco?',
 'Comentarios conocimiento',
 '5.1 ¿Quién crees que ganará el concurso de matemáticas?',
 '5.2 ¿Quién crees que es capitán del barco?',
 '5.3 ¿Quién es la persona excluida de la construcción de la casa de madera?',
 '5.4 ¿Quién crees que es el personaje que está sentado y esperando junto a la ventana?',
 '5.5 ¿Quién es la persona que trabaja en educación?',
 '5.6 ¿Quién crees que es la persona que prefiere estudiar ingeniería?',
 'Comentarios género',
 '4.1 Es alarmante que el ritmo de desaparición de especies en la Amazonia Colombiana sea cada vez mayor.',
 '4.2 El aumento de la temperatura atmosférica se debe al uso creciente y continuado de combustibles fósiles (carbón, petróleo…).',
 '4.3 La acumulación de basura procedente de las ciudades es un problema realmente grave.',
 '4.4 Hay una disminución de la superficie forestal y de áreas naturales en el país.',
 '4.5 El planeta está tan contaminado por productos químicos que ya supone un problema para la salud.',
 '4.6 Conozco los riesgos que representa para la vida humana la desaparición de especies animales y vegetales.',
 '4.7 Me preocupa lo que sucede con la tala de árboles.',
 'Comentarios medioambiente',
 'Tipo de discapacidad',
 '¿Te reconoces como una persona con algún tipo de discapacidad?',
 'Conoce GreenTIC',
 'Instrumento']

In [12]:
#Calcular número de niños y niñas
#Tener en cuenta que edad tiene datos sucios
pivot_est1 = pd.pivot_table(df1, index=['Sexo'], values='ID', aggfunc='nunique').reset_index() #aggfunc en función de values
pivot_est1

                  Sexo    ID
0             Femenino  8252
1            Masculino  7445
2  Prefiero no decirlo   233

In [13]:
#Número de estudiantes por grado
pivot_est2 = pd.pivot_table(df1, index=['Grado'], values='ID', aggfunc='nunique').reset_index()
pivot_est2

   Grado    ID
0      5    33
1      6  7514
2      7   421
3      8   319
4      9  6808
5     10   271
6     11   116

In [ ]:
#distribución de sexos en los grados escolares
pivot_est3 = pd.pivot_table(df1, index=['Sexo','Grado'], values='ID', aggfunc='nunique').reset_index()
pivot_est3

                   Sexo  Grado    ID
0              Femenino      5    16
1              Femenino      6  3940
2              Femenino      7   218
3              Femenino      8   168
4              Femenino      9  3701
5              Femenino     10   143
6              Femenino     11    66
7             Masculino      5    17
8             Masculino      6  3654
9             Masculino      7   214
10            Masculino      8   151
11            Masculino      9  3230
12            Masculino     10   127
13            Masculino     11    52
14  Prefiero no decirlo      6   123
15  Prefiero no decirlo      7     3
16  Prefiero no decirlo      8     4
17  Prefiero no decirlo      9    96
18  Prefiero no decirlo     10     6
19  Prefiero no decirlo     11     1

In [23]:
#Conocer capacidad de trabajo desde casa según sector de vivienda
pivot_est4 = pd.pivot_table(df1, index=["Sector vivienda","Internet",'Uso del dispositivo móvil'], values='ID', aggfunc='nunique').reset_index()
pivot_est4

,Sector vivienda,Internet,Uso del dispositivo móvil,ID
0,Rural,No,No tengo acceso a ningún dispositivo electrónico,277
1,Rural,No,Uso compartido con otras personas,315
2,Rural,No,Uso propio (solo lo usas tú),429
3,Rural,Sí,No tengo acceso a ningún dispositivo electrónico,112
4,Rural,Sí,Uso compartido con otras personas,602
5,Rural,Sí,Uso propio (solo lo usas tú),1296
6,Urbana,No,No tengo acceso a ningún dispositivo electrónico,524
7,Urbana,No,Uso compartido con otras personas,752
8,Urbana,No,Uso propio (solo lo usas tú),873
9,Urbana,Sí,No tengo acceso a ningún dispositivo electrónico,358
10,Urbana,Sí,Uso compartido con otras personas,3214
11,Urbana,Sí,Uso propio (solo lo usas tú),7388

In [26]:
#Niños y niñas con discapacidad impactados por el proyecto
pivot_est5 = pd.pivot_table(df1, index=['Sexo','¿Te reconoces como una persona con algún tipo de discapacidad?'], values='ID', aggfunc='nunique').reset_index()
pivot_est5

  ¿Te reconoces como una persona con algún tipo de discapacidad?     ID
0                                                 No              14656
1                                                 Sí                920

In [31]:
#el indicador permitirá conocer qué tanto se está propiciando el uso de esta herramienta o si lo han utilizado antes
#Se puede observar con relación al uso del dispositivo o el acceso a internet
pivot_est6 = pd.pivot_table(df1, index=['Uso del dispositivo móvil','Conoce GreenTIC'], values='ID', aggfunc='nunique').reset_index()
pivot_est6

                          Uso del dispositivo móvil Conoce GreenTIC    ID
0  No tengo acceso a ningún dispositivo electrónico              No  1199
1  No tengo acceso a ningún dispositivo electrónico              Sí    67
2                 Uso compartido con otras personas              No  4524
3                 Uso compartido con otras personas              Sí   320
4                      Uso propio (solo lo usas tú)              No  9123
5                      Uso propio (solo lo usas tú)              Sí   785